*.pdf
*.docx
**/README.md

build/
build_check/
**/build/
**/CMakeFiles/
**/CMakeCache.txt
**/cmake_install.cmake
**/Makefile
*.o
*.obj
*.exe
*.a
*.lib
*.dll
*.so

.git/
.gitignore
.gitattributes
.vscode/
.idea/
**/.DS_Store
